<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385670904437-dhthc0slh6046tmu02ceefsv5jgbmnol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385670904437-dhthc0slh6046tmu02ceefsv5jgbmnol</string>
	<key>API_KEY</key>
	<string>AIzaSyD3E8oBfheOiuNjU2r9Kps3Ne64p_UW0zo</string>
	<key>GCM_SENDER_ID</key>
	<string>385670904437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.katyTrailApp</string>
	<key>PROJECT_ID</key>
	<string>katy-trail-app</string>
	<key>STORAGE_BUCKET</key>
	<string>katy-trail-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385670904437:ios:281e2956c5794b298e163c</string>
	<key>DATABASE_URL</key>
	<string>https://katy-trail-app.firebaseio.com</string>
</dict>
</plist>